@model Site.Models.PrimeMultiplesViewModel

@{
    ViewBag.Title = "Number of Primes";
}

<h2>Number of Primes</h2>

@using (Html.BeginForm("GenerateTable", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(x => x.NumberOfPrimes)
    <input type="submit" />
}