@model Site.Models.PrimeMultiplesViewModel

@{
    ViewBag.Title = "Primes Multiples Table";
}

<h2>Primes Multiples Table</h2>

<table border="1">
    <tr>
        <th></th>
        @foreach (var prime in Model.Primes)
        {
            <th scope="col">@prime</th>
        }
    </tr>
    @{
        var multiplesIndex = 0;
    }
    @foreach (var prime in Model.Primes)
    {
        <tr>
            <th scope="row">@prime</th>
            @foreach (var p in Model.Primes)
            {
                <td>@Model.Multiples.ElementAt(multiplesIndex++)</td>
            }
        </tr>
    }
</table>